.container {
    display: flex;
    justify-content: center;
    align-items: center;
  
    border-radius: 3px;
}

.container img {
    max-width: 100px;
    max-height: 100px;
}

.text h3 {
    width: 180px;
    font-size: 14px;
}